* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ten-px: 10px;
    --black-color: #000;
}
nav {
    background-color: rgb(99, 99, 100);
    padding: var(--ten-px);
   display: flex;
   gap: 20px;
   justify-content: space-evenly;
   align-items: center;

}

nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
}



.grid, header, footer{
    margin:10px; 
    max-width: 800px;
}
.grid{
    display: flex;
    display: grid;
    align-items: center;
    
}
main h1{
    display: grid;
    color: rgb(0, 0, 0);
    border-bottom:solid black 1px;
    align-content: start;
    justify-content: center;
    grid-row-start:  2;
    grid-row-end: 1;
}

main{
    grid-template-columns: 1/2fr 1fr;
    grid-template-rows: 1/2fr 1fr;
    margin: 1rem;
}
main img{
    display: grid;
    width: 180px;
    height: auto;
    border: 1px solid var(--black-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin:10px;
    grid-row: 2;
    
}
p{
    padding: var(--ten-px);
}


main ul {
    max-width: 440px;

}

aside{
    width: 20rem;
    margin: var(--ten-px);
    border: 10px solid var(--black-color 0.2);
    padding: var(--ten-px);
    background-color: rgb(159, 207, 240, 5.2);
    text-align:  center;
    color: var(--black-color);
    position: relative;
    left: 1cm;
    grid-column: 1/2;
    grid-row: 1/2;
}

header, footer{
    width: 840px;
    margin: 0 auto;
}
aside h2{
    position: absolute;
    bottom: 6.5cm;
    right: 3rem;
    
}
aside img{
    width: 15em;
    margin: 13%;
    height: auto;
    float: right;
    position: relative;
    left: 5%;
    text-align: center;
    
}

footer{
    margin-top: 10px;
    border-top: 1px solid var(--black-color);
    text-align: center;
    padding: var(--ten-px);
}
/* Class Selectors */
.box{
     margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 0.5rem;
  background-color: #ddd;
  color: #000;
  
}
.box aside{
    
    
}
.box li{
list-style: none; /* remove bullets */
  margin: 0;
  padding: 0;
}
.box a {
  text-decoration: none;
  padding: 0.25rem 0.5rem; /* control text size/height */
  display: inline-block;
}

/* According to html grid is a container(the father of edgar...
and wdd130, including the description and also the country photo and the short description */