:root{
    --ten-px: 10px;
    --black-color: #000;
}
nav {
    background-color: darkblue;
    padding: var(--ten-px);
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: darkblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid var(--black-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin:10px;
}
p{
    padding: var(--ten-px);
}

main{
    max-width: 840px;
}

aside{
    width: 20rem;
    margin: var(--ten-px);
    border: 1px solid var(--black-color 0.2);
    padding: var(--ten-px);
    background-color: rgb(159, 207, 240, 5.2);
    text-align:  center;
    color: var(--black-color)
}
aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 10px;
    border-top: 1px solid var(--black-color);
    text-align: center;
    padding: var(--ten-px);
}