*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main, aside, footer{
   max-width: 840px;
}
main img{
    width: 150px;
    height: auto;
    padding: 5px;
    border: solid 1px black;
    box-shadow: 1px 3px 15px gray ;
    

}
body{
    margin-left: 10px;
}
body nav{
    padding: 10px;
    background-color: gray;

}

body nav a{
    color: black;
    padding: 2px;
    display: block;
}

h1 {
    color: black;
}
aside{
    width: 20em;
    text-align: center;
}
.box h2{
    position: absolute;
    color: black;
    font-size: 15px;
    top: 390px;
    left: 125px;    

}
.box img{
    width: 200px;
    height: auto;
    position: relative;
}

p{
    padding: 0;
    
}
footer{
    margin-top: 5px;
    border-top: 1px solid gray;
    text-align: center;
}

div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}
/*Class Selectors*/
.box{
    padding: 1em;
    margin: 1em;
    border: 1px solid gray;
    background-color: rgb(78, 76, 76);
    color: rgb(255, 255, 255);

}
