main{
   max-width: 840px;
}
main img{
    width: 150px;
    height: auto;
    padding: 5px;
    border: solid 1px black;
    box-shadow: 1px 3px 15px gray ;

}
body nav{
    padding: 10px;
    background-color: gray;

}

body nav a{
    color: black;
    padding: 2px;
    display: block;
}

h1 {
    color: black;
}
aside{
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0, 0, 0);
    padding: 1em;
    background-color: rgb(255, 255, 255);
    color: rgb(79, 79, 79);
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}

p{
    padding: 0;
}
footer{
    margin-top: 5px;
    border-top: 1px solid gray;
    text-align: center;
}