* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ten-px: 10px;
    --black-color: #000;
}
header{
    display: flex;
    justify-content: center;
}
nav {
    background-color: rgb(99, 99, 100);
    padding: var(--ten-px);
   display: flex;
   gap: 20px;
   justify-content: space-evenly;
   align-items: center;
   gap: 40px;


}

nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
}


header, footer{
    width: 840px;
    margin: 0 auto;
    
} 
.grid{
    display: flex;
    display: grid;
    grid-template-columns: 400px 1fr;    
}
.grid h1{
    display: flex;
    color: rgb(0, 0, 0);
    border-bottom:solid black 1px;
    align-content: start;
    justify-content: center;
    align-items: normal;
    padding: 1px;
    font-size: 20px;
    width: 100%;


}


.grid main img{
    display: grid;
    width: 180px;
    height: auto;
    border: 1px solid var(--black-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin:10px;
    grid-row: 2;
    
}
.box p{
    display: flex;
    padding: var(--ten-px);
}

.grid aside{
    width: 20rem;
    height: auto;
    margin: var(--ten-px);
    border: 10px solid var(--black-color 0.2);
    padding: var(--ten-px);
    background-color: rgb(159, 207, 240, 5.2);
    text-align:  center;
    color: var(--black-color);
    position: relative;
    left: 1cm;
    grid-column: 1/2;
    grid-row: 1/2;
}
.grid main{
    margin-right: 80px;
}
.grid aside h2{
    position: absolute;
    bottom: 6.5cm;
    right: 3rem;
     margin-bottom: 10px;
    
}
.grid aside img{

    width: 100%;
    height: auto;
    border-radius: 4px;
}

footer{
    margin-top: 10px;
    border-top: 1px solid var(--black-color);
    text-align: center;
    padding: var(--ten-px);
}
/* Class Selectors */
.box{
    margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 0.5rem;
  background-color: #ddd;
  color: #000;
    display: flex;
    flex-direction: column; /* stack items vertically */
    align-items: center;    /* center everything */
    gap: 10px;
}
.box li{
list-style: none; /* remove bullets */
  margin: 0;
  padding: 0;
}
.box a {
  text-decoration: none;
  padding: 0.25rem 0.5rem; /* control text size/height */
  display: inline-block;
}
.box h2{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;

}
/* According to html grid is a container(the father of edgar...
and wdd130, including the description and also the country photo and the short description */